<h2>Администраторски панел</h2>

<ul>
    <li><a href="/Admin/Dashboard">Статистика</a></li>
    <li><a href="/CampSites">Управление на места</a></li>
    <li><a href="/Admin/Users">Управление на потребители</a></li>
</ul>
