@model AdminDashboardViewModel

<h2>Админ панел</h2>

<ul class="list-group">
    <li class="list-group-item">Брой потребители: @Model.UserCount</li>
    <li class="list-group-item">Брой места за къмпинг: @Model.CampCount</li>
    <li class="list-group-item">Брой ревюта: @Model.ReviewCount</li>
</ul>
