<h2>Администраторски панел</h2>

<ul>
    <li><a href="/Admin/Dashboard">Статистика</a></li>
    <li><a href="/Camp">Управление на места</a></li>
    <li><a href="/User/Users">Управление на потребители</a></li>
</ul>
