<h2>Добре дошли в Camp Rating System!</h2>
<p>За да търсите и оценявате места за къмпингуване, моля влезте или се регистрирайте.</p>

<a class="btn btn-primary" href="/Identity/Account/Login">Вход</a>
<a class="btn btn-secondary" href="/Identity/Account/Register">Регистрация</a>
